.light-mode {
    --global-main: #2f2f2f;
    --global-tertiary: #7d7d7d;
    --global-sec: #ffffff;
    --global-font-fam: system-ui, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --global-font-wei: 200;
    --global-font-siz: 10px;
    --global-shadow: 3px 5px 0px;
    --global--butt: #0088cc;
    --global--buttfont: white;
    --global-font-col: black;
    --global-shadow-colour: rgb(224, 224, 224);
}

/*Dark Mode*/
.dark-mode {
    --global-main: #ffffff;
    --global-tertiary: #7d7d7d;
    --global-sec: #2f2f2f;
    --global-font-fam: system-ui, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --global-font-wei: 200;
    --global-font-siz: 10px;
    --global-shadow: 3px 5px 0px;
    --global--butt: #0088cc;
    --global--buttfont: white;
    --global-font-col: white;
    --global-shadow-colour: rgb(36, 36, 36);
}

p {
    color: var(--global-font-col);
}

body {
    padding: 0;
    margin-top: 100px;
    margin: 0;
    font-family: var(--global-font-fam);
    background-color: var(--global-sec);
}
.menuDiv {
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
}

.nav { /*This is also on by default*/
    display: flex;
    gap: 5px;
    justify-content: start;
    padding: 5px;
    flex-grow: 1;
}

.nav-item {
    background-color: transparent;
    font-weight: var(--global-font-wei);
    margin: 10px;
    border: 1px solid transparent;
    transition: 1s;
    color: var(--global-tertiary);
}

.nav-item:hover {
    transition: 1s;
    color: var(--global-main);
    border-bottom: 3px solid var(--global--butt);
}

.logo {
display: none;
}

.menuwaffle { /*This is active by default*/
    display: none;
}

.waffleOn {
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    border: 0;
}

.navOff {
    display: none;
}

.content {
    height: 10000px;
}

.switchbtnOn {
    background-color: var(--global--butt);
    border: 0;
    color: var(--global--buttfont);
    transition: 1s;
}

.switchbtnOff {
    background-color: var(--global-tertiary);
    border: 0;
    color: var(--global-tertiary);
    transition: 1s;
}

#switch {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0;
    box-shadow: 2px 3px 5px var(--global-shadow-colour) ;
    border-radius: 10px;
    height: fit-content;
}

#lightSwitch {
height: 100%;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px
}

#darkSwitch {
height: 100%;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}


.menu-switch {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}