.light-mode {
    --global-main: #2f2f2f;
    --global-tertiary: #7d7d7d;
    --global-sec: #ffffff;
    --global-font-fam: system-ui, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --global-font-wei: 200;
    --global-font-siz: 10px;
    --global-shadow: 3px 5px 0px;
    --global--butt: #0088cc;
    --global--buttfont: white;
    --global-font-col: black;
    --global-shadow-colour: rgb(196, 196, 196);
    --global-tab: #e6e6e6;
}

/*Dark Mode*/
.dark-mode {
    --global-main: #ffffff;
    --global-tertiary: #7d7d7d;
    --global-sec: #2f2f2f;
    --global-font-fam: system-ui, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --global-font-wei: 200;
    --global-font-siz: 10px;
    --global-shadow: 3px 5px 0px;
    --global--butt: #cc005c;
    --global--buttfont: white;
    --global-font-col: white;
    --global-shadow-colour: rgb(36, 36, 36);
    --global-tab: #373737;
}

p {
    color: var(--global-font-col);
}

body {
    padding: 0;
    margin-top: 100px;
    margin: 0;
    font-family: var(--global-font-fam);
    background-color: var(--global-sec);
}
.menuDiv {
    display: flex;
    gap: 5px;
    position: sticky;
    top: 0;
    height: fit-content;
    background-color: var(--global-sec);
    box-shadow: 1px 2px 5px var(--global-shadow-colour);
}

.nav { /*This is also on by default*/
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
    flex-grow: 1;
}

.mobileItemsContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-items: center;
}

.nav-item, .mobileNavButton {
    background-color: transparent;
    font-weight: var(--global-font-wei);
    border: 1px solid transparent;
    transition: 1s;
    color: var(--global-tertiary);
}

.nav-item:hover, .mobileNavButton:hover {
    transition: 1s;
    color: var(--global-main);
    border-bottom: 3px solid var(--global--butt);
}

.logo {
display: none;
}

.menuwaffle { /*This is active by default*/
    display: none;
}

.waffleOn {
    height: 20px;
    width: 20px;
    background-image: url('./svg/burger-menu-right-svgrepo-com\ \(2\).svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    border: 0;
}

.navOff {
    display: none;
}

.content {
    height: 10000px;
}

.switchbtnOn {
    background-color: var(--global--butt);
    border: 0;
    color: var(--global--buttfont);
    transition: 1s;
}

.switchbtnOff {
    background-color: var(--global-tertiary);
    border: 0;
    color: var(--global-tertiary);
    transition: 1s;
}

#switch {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0;
    box-shadow: 2px 3px 5px var(--global-shadow-colour) ;
    border-radius: 10px;
    height: 15px;
    width: 45px;
}

#lightSwitch {
flex-grow: 2;
background-image: url('./svg/sun-svgrepo-com.svg');
background-size: 30%;
background-repeat: no-repeat;
background-position: 50%;
height: 100%;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px
}

#darkSwitch {
flex-grow: 2;
background-image: url('./svg/moon-stars-svgrepo-com.svg');
background-size: 30%;
background-repeat: no-repeat;
background-position: 50%;
height: 100%;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}


.menu-switch {
    width: 20%;
    display: flex;
    justify-content: end;
    margin: 20px;
}

.banner {
    color: var(--global-font-col);
    padding: 30px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannertext {
    text-align: center;
    font-size: 5vh;
}

.tab-button {
    transition: 1s;
    padding: 5px;
    background-color: transparent;
    width: 100px;
    color: var(--global-tertiary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.tab-button:hover {
    transition: 1s;
    border-bottom: 2px solid var(--global--butt);
    color: var(--global-font-col);
}

.tabsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tab {
    display: flex;
    flex-direction: column;
}